<!-- <app-billboard-contact></app-billboard-contact> -->

<app-billboard-contact></app-billboard-contact>

<div class="contact-us padding-large">
  <div class="container">
    <div class="row">
      <div class="contact-info col-lg-6 pb-3">
        <h3>Contact info</h3>
        <p class="mb-5">
          Tortor dignissim convallis aenean et tortor at risus viverra
          adipiscing.
        </p>
        <div class="page-content d-flex flex-wrap">
          <div class="col-lg-6 col-sm-12">
            <div class="content-box text-dark pe-4 mb-5">
              <h5 class="fw-bold">Office</h5>
              <div class="contact-address pt-3">
                <p>730 Glenstone Ave 65802, Springfield, US</p>
              </div>
              <div class="contact-number">
                <p>
                  <a href="#">+123 987 321</a>
                </p>
                <p>
                  <a href="#">+123 123 654</a>
                </p>
              </div>
              <div class="email-address">
                <p>
                  <a href="#">infoyourinfo.com</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="content-box">
              <h5 class="fw-bold">Management</h5>
              <div class="contact-address pt-3">
                <p>730 Glenstone Ave 65802, Springfield, US</p>
              </div>
              <div class="contact-number">
                <p>
                  <a href="#">+123 987 321</a>
                </p>
                <p>
                  <a href="#">+123 123 654</a>
                </p>
              </div>
              <div class="email-address">
                <p>
                  <a href="#">infoourinfo.com</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="inquiry-item col-lg-6">
        <h3>Any questions?</h3>
        <p class="mb-5">Use the form below to get in touch with us.</p>

        <app-form-contact></app-form-contact>
      </div>
    </div>
  </div>
</div>

<section id="our-store" class="padding-large pt-0">
  <div class="container">
    <div class="row d-flex flex-wrap align-items-center">
      <div class="col-lg-6">
        <div class="image-holder mb-5">
          <img
            src="assets/images/single-image2.jpg"
            alt="our-store"
            class="img-fluid"
          />
        </div>
      </div>

      <div class="col-lg-6">
        <div class="locations-wrap ms-lg-5">
          <div class="display-header">
            <h3>Our stores</h3>
            <p class="mb-5">
              You can also directly buy products from our stores.
            </p>
          </div>
          <app-our-stores></app-our-stores>
        </div>
      </div>
    </div>
  </div>
</section>
