<section id="instagram">
  <div class="container">
    <div class="text-center mb-4">
      <h3>Instagram</h3>
    </div>
    <div class="row">
      @for(item of InstaObj ;track $index){
      <div class="col-md-2">
        <figure class="instagram-item position-relative rounded-3">
          <a href="https://www.instagram.com/instagram/?hl=en" class="image-link position-relative">
            <div class="icon-overlay position-absolute d-flex justify-content-center">
              <svg class="instagram">
                <use xlink:href="#instagram"></use>
              </svg>
            </div>
            <img src="{{ item.Image }}" alt="instagram" class="img-fluid rounded-3 insta-image" />
          </a>
        </figure>
      </div>

      }

    </div>
  </div>
</section>