<section id="company-services" class="padding-large pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 pb-3 pb-lg-0">
        <div class="icon-box d-flex">
          <div class="icon-box-icon pe-3 pb-3">
            <svg class="cart-outline">
              <use xlink:href="#cart-outline" />
            </svg>
          </div>
          <div class="icon-box-content">
            <h4 class="card-title mb-1 text-capitalize text-dark">
              Free delivery
            </h4>
            <p>Consectetur adipi elit lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-3 pb-lg-0">
        <div class="icon-box d-flex">
          <div class="icon-box-icon pe-3 pb-3">
            <svg class="quality">
              <use xlink:href="#quality" />
            </svg>
          </div>
          <div class="icon-box-content">
            <h4 class="card-title mb-1 text-capitalize text-dark">
              Quality guarantee
            </h4>
            <p>Dolor sit amet orem ipsu mcons ectetur adipi elit.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-3 pb-lg-0">
        <div class="icon-box d-flex">
          <div class="icon-box-icon pe-3 pb-3">
            <svg class="price-tag">
              <use xlink:href="#price-tag" />
            </svg>
          </div>
          <div class="icon-box-content">
            <h4 class="card-title mb-1 text-capitalize text-dark">
              Daily offers
            </h4>
            <p>Amet consectetur adipi elit loreme ipsum dolor sit.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-3 pb-lg-0">
        <div class="icon-box d-flex">
          <div class="icon-box-icon pe-3 pb-3">
            <svg class="shield-plus">
              <use xlink:href="#shield-plus" />
            </svg>
          </div>
          <div class="icon-box-content">
            <h4 class="card-title mb-1 text-capitalize text-dark">
              100% secure payment
            </h4>
            <p>Rem Lopsum dolor sit amet, consectetur adipi elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
