


<!-- <div class="cart-totals padding-medium pb-0">
  <h3 class="mb-3">Cart Totals</h3>
  <div class="total-price pb-3">
    <table cellspacing="0" class="table text-capitalize">
      <tbody>
        <tr class="subtotal pt-2 pb-2 border-top border-bottom">
          <th>Subtotal</th>
          <td data-title="Subtotal">
            <span class="price-amount amount text-primary ps-5 fw-light">
              <bdi> <span class="price-currency-symbol">$</span>2,400.00 </bdi>
            </span>
          </td>
        </tr>
        <tr class="order-total pt-2 pb-2 border-bottom">
          <th>Total</th>
          <td data-title="Total">
            <span class="price-amount amount text-primary ps-5 fw-light">
              <bdi> <span class="price-currency-symbol">$</span>2,400.00</bdi>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="button-wrap d-flex flex-wrap gap-3">
    <button class="btn">Update Cart</button>
    <button class="btn">Continue Shopping</button>
    <button class="btn">Proceed to checkout</button>
  </div>
</div> -->
