<svg xmlns="http://www.w3.org/2000/svg" style="display: none">

  <symbol id="solar--alt-arrow-right-bold" viewBox="0 0 24 24">
    <path fill="currentColor"
      d="M15.835 11.63L9.205 5.2C8.79 4.799 8 5.042 8 5.57v12.86c0 .528.79.771 1.205.37l6.63-6.43a.5.5 0 0 0 0-.74" />
  </symbol>

  <symbol id="solar--alt-arrow-left-bold" viewBox="0 0 24 24">
    <path fill="currentColor"
      d="m8.165 11.63l6.63-6.43C15.21 4.799 16 5.042 16 5.57v12.86c0 .528-.79.771-1.205.37l-6.63-6.43a.5.5 0 0 1 0-.74" />
  </symbol>

</svg>
<article class="post-item">
  @for (item of singlePostObj; track $index) {

  <div class="post-content">
    <div class="post-meta mt-4">
      <span class="post-category">Feb 22, 2024 </span> -
      <span class="meta-date"><a [routerLink]="['/blog']">Books</a></span>
    </div>
    <h1 class="post-title my-4">
      {{item.bookTitle}}{{item.Head}}
    </h1>

    <div class="hero-image col-lg-12">
      <img src="{{item.imgPath}} {{item.Image}}" alt="single-post my-3" class="img-fluid main-post" />
    </div>
    <div class="post-description review-item mt-4">


      <p>
        <strong>{{item.bookDescription}}{{item.Des}}</strong>
      </p>


      <p>
        Sit suscipit tortor turpis sed fringilla lectus facilisis amet. Ipsum,
        amet dolor curabitur non aliquet orci urna volutpat. Id aliquam neque,
        ut vivamus sit imperdiet enim, lacus, vel. Morbi arcu amet, nulla
        fermentum vitae mattis arcu mi convallis. Urna in sollicitudin in
        vestibulum erat. Turpis faucibus augue ipsum, at aliquam. Cras sagittis
        tellus nunc integer vitae neque bibendum eget. Tempus malesuada et
        pellentesque maecenas. Sociis porttitor elit tincidunt tellus sit
        ornare. Purus ut quis sed venenatis eget ut ipsum, enim lacus. Praesent
        imperdiet vitae eu, eu tincidunt nunc integer sit.
      </p>
      <blockquote class="fs-3">
        “Sit suscipit tortor turpis sed fringilla lectus facilisis amet. Ipsum,
        amet dolor curabitur non aliquet orci urna volutpat. Id aliquam neque,
        ut vivamus sit imperdiet enim, lacus, vel.
      </blockquote>
      <h3 class="mt-3">Is This Great?</h3>
      <div class="row">
        <div class="col-md-6">
          <ul style="list-style-type: disc" class="inner-list">
            <li>
              Blandit mauris libero condimentum commodo sociis convallis sit.
            </li>
            <li>Laculis sit sapien hac odio elementum egestas neque.</li>
            <li>
              Blandit mauris libero condimentum commodo sociis convallis sit.
            </li>
            <li>Magna diam amet justo sed vel dolor et volutpat integer.</li>
            <li>Laculis sit sapien hac odio elementum egestas neque.</li>
            <li>Magna diam amet justo sed vel dolor et volutpat integer.</li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul style="list-style-type: disc" class="inner-list">
            <li>
              Blandit mauris libero condimentum commodo sociis convallis sit.
            </li>
            <li>Laculis sit sapien hac odio elementum egestas neque.</li>
            <li>
              Blandit mauris libero condimentum commodo sociis convallis sit.
            </li>
            <li>Magna diam amet justo sed vel dolor et volutpat integer.</li>
            <li>Laculis sit sapien hac odio elementum egestas neque.</li>
            <li>Magna diam amet justo sed vel dolor et volutpat integer.</li>
          </ul>
        </div>
      </div>

      <p>
        Morbi arcu amet, nulla fermentum vitae mattis arcu mi convallis. Urna in
        sollicitudin in vestibulum erat. Turpis faucibus augue ipsum, at
        aliquam. Cras sagittis tellus nunc integer vitae neque bibendum eget.
        Tempus malesuada et pellentesque maecenas. Sociis porttitor elit
        tincidunt tellus sit ornare. Purus ut ipsum, enim lacus. Praesent
        imperdiet vitae eu, eu tincidunt nunc integer sit.
      </p>
      <p>
        Tortor diam dignissim amet, in interdum aliquet. Magnis dictum et eros
        purus fermentum, massa ullamcorper sit sollicitudin. Nascetur libero
        elementum adipiscing mauris maecenas et magna. Etiam nec, rutrum a diam
        lacus, nunc integer etiam. Mattis pulvinar non viverra donec
        pellentesque. Odio mi consequat libero dolor. Porta ut diam lobortis
        eget leo, lectus. Nunc tempus feugiat massa laoreet ultrices diam magna
        quam. Congue auctor auctor luctus neque. Enim lorem ultrices diam donec.
        Sed id placerat consectetur faucibus.
      </p>
      <img src="assets/images/post-img.jpg" alt="post-image" class="img-fluid float-start me-3 col-md-5" />
      <h3 class="mt-3">Velit, praesent pharetra malesuada</h3>
      <p>
        Id pulvinar amet. Consequat potenti mollis massa iaculis et, dolor, eget
        lectus. Aliquam pellentesque molestie felis fames sed eget non euismod
        eget. Et eget ullamcorper urna, elit ac diam tellus viverra lacus.
      </p>
      <p>
        Tortor diam dignissim amet, in interdum aliquet. Magnis dictum et eros
        purus fermentum, massa ullamcorper sit sollicitudin. Nascetur libero
        elementum adipiscing mauris maecenas et magna. Etiam nec, rutrum a diam
        lacus, nunc integer etiam. Mattis pulvinar non viverra donec
        pellentesque. Odio mi consequat libero dolor. Porta ut diam lobortis
        eget leo, lectus.
      </p>
      <p>
        Velit, praesent pharetra malesuada id pulvinar amet. Consequat potenti
        mollis massa iaculis et, dolor, eget lectus. Aliquam pellentesque
        molestie felis fames sed eget non euismod eget. Et eget ullamcorper
        urna, elit ac diam tellus viverra lacus.
      </p>
      <p>
        Tortor diam dignissim amet, in interdum aliquet. Magnis dictum et eros
        purus fermentum, massa ullamcorper sit sollicitudin. Nascetur libero
        elementum adipiscing mauris maecenas et magna. Etiam nec, rutrum a diam
        lacus, nunc integer etiam. Mattis pulvinar non viverra donec
        pellentesque. Odio mi consequat libero dolor. Porta ut diam lobortis
        eget leo, lectus.
      </p>
      <p>
        Praesent pharetra malesuada id pulvinar amet. Consequat potenti mollis
        massa iaculis et, dolor, eget lectus. Aliquam pellentesque molestie
        felis fames sed eget non euismod eget. Et eget ullamcorper urna.
      </p>
      <p>
        Tortor diam dignissim amet, in interdum aliquet. Magnis dictum et eros
        purus fermentum, massa ullamcorper sit sollicitudin. Nascetur libero
        elementum adipiscing mauris maecenas et magna. Etiam nec, rutrum a diam
        lacus, nunc integer etiam. Mattis pulvinar non viverra donec
        pellentesque. Odio mi consequat libero dolor. Porta ut diam lobortis
        eget leo, lectus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus aliquam
        nam quod. Aliquam ab ipsa ipsum minima, neque ducimus! Tempora ipsa
        fugiat veniam sint doloremque repellat incidunt, a commodi neque.
      </p>
      <div class="post-bottom-link d-flex justify-content-between mt-2">
        <div class="block-tag">
          <ul class="list-unstyled d-flex">
            <li class="pe-3">
              <a href="#">Books</a>
            </li>
            <li class="pe-3">
              <a href="#">Story</a>
            </li>
            <li class="pe-3">
              <a href="#">Fictional</a>
            </li>
          </ul>
        </div>
        <div class="social-links d-flex">
          <div class="element-title pe-2">Share:</div>
          <ul class="d-flex list-unstyled">
            <li>
              <a target="_blank" href="https://www.facebook.com/help/messenger-app/170116376402147">
                <svg class="facebook">
                  <use xlink:href="#facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://www.instagram.com/shraddhakapoor/?hl=en">
                <svg class="instagram">
                  <use xlink:href="#instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://x.com/narendramodi?lang=en">
                <svg class="twitter">
                  <use xlink:href="#twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a target="_blank"
                href="https://www.linkedin.com/in/sundarpichai?original_referer=https%3A%2F%2Fwww.google.com%2F">
                <svg class="linkedin">
                  <use xlink:href="#linkedin"></use>
                </svg>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://www.youtube.com/channel/UCAov2BBv1ZJav0c_yHEciAw">
                <svg class="youtube">
                  <use xlink:href="#youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="single-post-navigation" class="mt-3">
      <div class="post-navigation d-flex flex-wrap align-items-center justify-content-between">
        <a itemprop="url" class="post-prev d-flex align-items-center"
          href="https://www.barnesandnoble.com/b/books/awards/best-books-of-the-year/_/N-29Z8q8Z1qrh" target="_blank">
          <svg class="alt-arrow-left-bold" width="44" height="44">
            <!-- <use xlink:href="#alt-arrow-left-bold"></use> -->
            <use href="#solar--alt-arrow-left-bold" />
          </svg>
          <h4 class="card-title text-capitalize text-dark">
            Must read books of this year
          </h4>
        </a>
        <a itemprop="url" class="post-next d-flex align-items-center"
          href="https://www.wallstreetmojo.com/money-making-books/" target="_blank">
          <h4 class="card-title text-capitalize text-dark">
            Books to read if you want to earn money
          </h4>
          <svg class="alt-arrow-right-bold" width="44" height="44">
            <!-- <use xlink:href="#alt-arrow-right-bold"></use> -->
            <use href="#solar--alt-arrow-right-bold" />
          </svg>
        </a>
      </div>
    </div>
  </div>
  }
</article>