<div class="comments-wrap">
    <h3 class="mb-3">3 Comments</h3>
    <div class="comment-list padding-small">
      <article class="comment-item d-flex flex-wrap mb-4">
        <div class="col-lg-1 col-sm-3 me-4 mb-3">
          <img
            src="assets/images/commentor-item1.jpg"
            alt="default"
            class="img-fluid rounded-3"
          />
        </div>
        <div class="col-lg-10 col-sm-9 author-wrap">
          <div class="author-post">
            <div class="comment-meta d-flex">
              <div class="author-name fw-medium pe-1">
                Sam Smith
              </div>
              <span class="meta-date">Jul 10</span>
            </div>
            <p class="no-margin">
              Mattis pulvinar non viverra donec pellentesque.
              Odio mi consequat libero dolor. Porta ut diam
              lobortis eget leo, lectus. Tortor diam dignissim
              amet, in interdum aliquet. Nascetur libero
              elementum adipiscing mauris maecenas et magna.
            </p>
            <div class="comments-reply">
              <a href="#" class="text-primary">Reply Now</a>
            </div>
          </div>
        </div>
      </article>
      <article
        class="comment-item d-flex child-comments flex-wrap ps-5 mb-4"
      >
        <div class="col-lg-1 col-sm-3 me-4 mb-3">
          <img
            src="assets/images/commentor-item2.jpg"
            alt="default"
            class="img-fluid rounded-3"
          />
        </div>
        <div class="col-lg-10 col-sm-9 author-wrap">
          <div class="author-post">
            <div class="comment-meta d-flex">
              <div class="author-name fw-medium pe-1">
                Santie Mary
              </div>
              <span class="meta-date">Jul 10</span>
            </div>
            <p class="no-margin">
              Tristique tempis condimentum diam done
              ullancomroer sit element henddg sit he
              consequert.Tristique tempis condimentum diam done
              ullancomroer sit element henddg sit he consequert.
            </p>
            <div class="comments-reply">
              <a href="#" class="text-primary">Reply Now</a>
            </div>
          </div>
        </div>
      </article>
      <article class="comment-item d-flex flex-wrap">
        <div class="col-lg-1 col-sm-3 me-4 mb-3">
          <img
            src="assets/images/commentor-item3.jpg"
            alt="default"
            class="img-fluid rounded-3"
          />
        </div>
        <div class="col-lg-10 col-sm-9 author-wrap">
          <div class="author-post">
            <div class="comment-meta d-flex">
              <div class="author-name fw-medium pe-1">
                Analisa Nora
              </div>
              <span class="meta-date">Jul 10</span>
            </div>
            <p class="no-margin">
              Tristique tempis condimentum diam done
              ullancomroer sit element henddg sit he
              consequert.Tristique tempis condimentum diam done
              ullancomroer sit element henddg sit he consequert.
            </p>
            <div class="comments-reply">
              <a href="#" class="text-primary">Reply Now</a>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
