<section class="single-product padding-large">
  <div class="container">
    <div class="row">

      @for (item of singleProductObj; track $index) {

      <div class="col-lg-6">


        <div class="d-flex gap-3 product-preview">
          <div
            class="swiper thumb-swiper w-50 swiper-initialized swiper-horizontal swiper-backface-hidden swiper-thumbs">
            <div class="swiper-wrapper d-flex flex-wrap gap-3 align-content-start" id="swiper-wrapper-10a95c899e9999e1"
              aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
              <div
                class="swiper-slide bg-white swiper-slide-active swiper-slide-visible swiper-slide-fully-visible swiper-slide-thumb-active"
                role="group" aria-label="1 / 3" style="width: 124px;">
                <img src="assets/images/product-thumbnail-1.png" alt="product-thumb" class="img-fluid border rounded-3">
              </div>
              <div class="swiper-slide bg-white swiper-slide-next swiper-slide-visible swiper-slide-fully-visible"
                role="group" aria-label="2 / 3" style="width: 124px;">
                <img src="assets/images/product-thumbnail-2.png" alt="product-thumb" class="img-fluid border rounded-3">
              </div>
              <div class="swiper-slide bg-white swiper-slide-visible swiper-slide-fully-visible" role="group"
                aria-label="3 / 3" style="width: 124px;">
                <img src="assets/images/product-thumbnail-3.png" alt="product-thumb" class="img-fluid border rounded-3">
              </div>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
          </div>
          <div
            class="swiper large-swiper border rounded-3 overflow-hidden swiper-fade swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden">
            <div class="swiper-wrapper" id="swiper-wrapper-1370e06e86cddba4" aria-live="polite">
              <div class="swiper-slide bg-white swiper-slide-visible swiper-slide-fully-visible swiper-slide-active p-5"
                role="group" aria-label="1 / 3"
                style="width: 604px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                <img src="{{item.Image}}" alt="single-product" class="img-fluid p-5 ">
              </div>
              <div class="swiper-slide bg-white swiper-slide-next" role="group" aria-label="2 / 3"
                style="width: 604px; opacity: 0; transform: translate3d(-604px, 0px, 0px);">
                <img src="assets/images/product-large-2.png" alt="single-product" class="img-fluid">
              </div>
              <div class="swiper-slide bg-white" role="group" aria-label="3 / 3"
                style="width: 604px; opacity: 0; transform: translate3d(-1208px, 0px, 0px);">
                <img src="assets/images/product-large-3.png" alt="single-product" class="img-fluid">
              </div>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
          </div>
        </div>
      </div>




      <div class="col-lg-6">
        <div class="product-info ps-lg-5 pt-3 pt-lg-0">
          <div class="element-header">
            <h1 class="product-title">{{item.Head}}</h1>
            <div class="product-price d-flex align-items-center mt-2">
              <span class="fs-2 fw-light text-primary me-2">${{item.Price}}</span>
              <del>$260</del>
            </div>
            <div class="rating text-warning d-flex align-items-center mb-2">
              <svg class="star star-fill">
                <use xlink:href="#star-fill"></use>
              </svg>
              <svg class="star star-fill">
                <use xlink:href="#star-fill"></use>
              </svg>
              <svg class="star star-fill">
                <use xlink:href="#star-fill"></use>
              </svg>
              <svg class="star star-fill">
                <use xlink:href="#star-fill"></use>
              </svg>
              <svg class="star star-fill">
                <use xlink:href="#star-fill"></use>
              </svg>
            </div>
          </div>
          <p>Justo, cum feugiat imperdiet nulla molestie ac vulputate scelerisque amet. Bibendum adipiscing platea
            blandit sit sed quam semper rhoncus.</p>
          <hr>
          <div class="cart-wrap">
            <div class="color-options product-select my-3">
              <div class="color-toggle" data-option-index="0">
                <h4 class="item-title text-decoration-underline text-capitalize">Color</h4>
                <ul class="select-list list-unstyled d-flex mb-0">
                  <li class="select-item me-3" data-val="Green" title="Green">
                    <a href="#">Gray</a>
                  </li>
                  <li class="select-item me-3" data-val="Orange" title="Orange">
                    <a href="#">Blue</a>
                  </li>
                  <li class="select-item me-3" data-val="Red" title="Red">
                    <a href="#">White</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="swatch product-select" data-option-index="1">
              <h4 class="item-title text-decoration-underline text-capitalize">Size</h4>
              <ul class="select-list list-unstyled d-flex mb-0">
                <li data-value="S" class="select-item me-3">
                  <a href="#">S</a>
                </li>
                <li data-value="M" class="select-item me-3">
                  <a href="#">M</a>
                </li>
                <li data-value="L" class="select-item me-3">
                  <a href="#">L</a>
                </li>
              </ul>
            </div>
            <div class="product-quantity my-3">
              <div class="item-title">
                <p>2 in stock</p>
              </div>
              <div class="stock-button-wrap mt-2 d-flex flex-wrap align-items-center">
                <div class="product-quantity">
                  <div class="input-group product-qty align-items-center" style="max-width: 150px;">
                    <span class="input-group-btn">
                      <button type="button" class="bg-white shadow border rounded-3 fw-light quantity-left-minus"
                        data-type="minus" data-field="" (click)="decreaseQuantity($index)">
                        <svg width="16px" height="16px" viewBox="0 0 24 24" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                          <g id="SVGRepo_iconCarrier">
                            <rect width="24" height="24" fill="white"></rect>
                            <path d="M6 12H18" stroke-width="2" stroke="#000000" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          </g>
                        </svg>
                      </button>
                    </span>
                    <input type="text" [value]="item.quantity || 1" (input)="updateQuantity($index, $event)"
                      id="quantity" name="quantity"
                      class="form-control bg-white shadow border rounded-3 py-2 mx-2 input-number text-center" value="1"
                      min="1" max="100" required="">
                    <span class="input-group-btn">
                      <button type="button" class="bg-white shadow border rounded-3 fw-light quantity-right-plus"
                        data-type="plus" data-field="" (click)="increaseQuantity($index)">
                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                          <g id="SVGRepo_iconCarrier">
                            <path d="M6 12H18M12 6V18" stroke="#000000" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          </g>
                        </svg>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="action-buttons my-3 d-flex flex-wrap gap-3">
              <a href="#" class="btn">Order now</a>
              <a [routerLink]="['/cart']" class="btn btn-dark" (click)="addToCartProduct()">Add to cart</a>
              <a href="#" class="btn btn-dark">
                <svg class="heart" width="21" height="21">
                  <use xlink:href="#heart"></use>
                </svg>
              </a>
            </div>
          </div>
          <hr>
          <div class="meta-product my-3">
            <div class="meta-item d-flex mb-1">
              <span class="fw-medium me-2">SKU:</span>
              <ul class="select-list list-unstyled d-flex mb-0">
                <li data-value="S" class="select-item">1223</li>
              </ul>
            </div>
            <div class="meta-item d-flex mb-1">
              <span class="fw-medium me-2">Category:</span>
              <ul class="select-list list-unstyled d-flex mb-0">
                <li data-value="S" class="select-item">
                  <a href="#">Romance</a>,
                </li>
                <li data-value="S" class="select-item">
                  <a href="#">Sci-Fi</a>,
                </li>
                <li data-value="S" class="select-item">
                  <a href="#">Fiction</a>
                </li>
              </ul>
            </div>
            <div class="meta-item d-flex mb-1">
              <span class="fw-medium me-2">Tags:</span>
              <ul class="select-list list-unstyled d-flex mb-0">
                <li data-value="S" class="select-item">
                  <a href="#">Revenge</a>,
                </li>
                <li data-value="S" class="select-item">
                  <a href="#">Vampire</a>,
                </li>
                <li data-value="S" class="select-item">
                  <a href="#">Life</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>