<div class="shopify-grid padding-large">
  <div class="container">
    <div class="row flex-row-reverse g-md-5">

      <main class="col-md-9">
        <div class="filter-shop d-flex flex-wrap justify-content-between mb-5">
          <div class="showing-product">
            <p>Showing {{ (pageIndex * pageSize) + 1 }}–{{ getEndIndex() }} of {{ totalItems }} results</p>
          </div>


          <div class="sort-by">
            <select id="sorting" class="form-select" (change)="onSortChange($event)">
              <option value="">Default sorting</option>
              <option value="Name (A - Z)">Name (A - Z)</option>
              <option value="Name (Z - A)">Name (Z - A)</option>
              <option value="Price (Low-High)">Price (Low-High)</option>
              <option value="Price (High-Low)">Price (High-Low)</option>
              <option value="Rating (Highest)">Rating (Highest)</option>
              <option value="Rating (Lowest)">Rating (Lowest)</option>
              <option value="Model (A - Z)">Model (A - Z)</option>
              <option value="Model (Z - A)">Model (Z - A)</option>
            </select>
          </div>
        </div>

        <div class="row product-content product-store">
          <ng-container *ngFor="let item of paginatedItems; let i = index">
            <div class="col-lg-3 col-md-4 mb-4">
              <div class="card position-relative p-4 border rounded-3">
                <div class="position-absolute">
                  <p class="bg-primary py-1 px-3 fs-6 text-white rounded-2">{{ item.Offer }}</p>
                </div>
                <img src="{{ item.Image }}" class="img-fluid shadow-sm" alt="product item" />
                <h6 class="mt-4 mb-0 fw-bold"><a [routerLink]="['/singlePage']" (click)="goToView(item)">{{ item.Head
                    }}</a>
                </h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">{{ item.Name }}</p>
                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
                <span class="price text-primary fw-bold mb-2 fs-5">${{ item.Price }}</span>
                <div class="card-concern position-absolute start-0 end-0 d-flex gap-2">
                  <button type="button" class="btn btn-dark" (click)="addToCart(item)" data-bs-toggle="tooltip"
                    data-bs-placement="top" data-bs-title="Tooltip on top">
                    <svg class="cart">
                      <use xlink:href="#cart"></use>
                    </svg>
                  </button>
                  <a (click)="addToWishlist(item)" class="btn btn-dark">
                    <span><svg class="wishlist">
                        <use xlink:href="#heart"></use>
                      </svg></span>
                  </a>
                </div>
              </div>
            </div>
          </ng-container>
        </div>

        <nav class="py-5" aria-label="Page navigation">
          <ul class="pagination justify-content-center gap-4">
            <li class="page-item" [class.disabled]="pageIndex === 0">
              <a class="page-link" (click)="onPageChange(pageIndex - 1)" [attr.aria-disabled]="pageIndex === 0">Prev</a>
            </li>
            <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
              [class.active]="i === pageIndex">
              <a class="page-link" (click)="onPageChange(i)">{{ i + 1 }}</a>
            </li>
            <li class="page-item" [class.disabled]="pageIndex === totalPages - 1">
              <a class="page-link" (click)="onPageChange(pageIndex + 1)"
                [attr.aria-disabled]="pageIndex === totalPages - 1">Next</a>
            </li>
          </ul>
        </nav>
      </main>


      <aside class="col-md-3">
        <div class="sidebar ps-lg-5">
          <div class="widget-menu">
            <div class="widget-search-bar">
              <form class="d-flex border rounded-3 p-2" role="search">
                <input class="form-control border-0 me-2 py-2" type="search" (input)="onSearchChange($event)"
                  placeholder="Search" aria-label="Search" />
                <button class="btn rounded-3 p-3 d-flex align-items-center" type="submit">
                  <svg class="search text-light" width="18" height="18">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </form>
            </div>
          </div>
          <div class="widget-product-categories pt-5">
            <div class="section-title overflow-hidden mb-2">
              <h3 class="d-flex flex-column mb-0">Categories</h3>
            </div>
            <ul class="product-categories mb-0 sidebar-list list-unstyled">
              <li class="cat-item">
                <a href="/collections/categories">All</a>
              </li>
              <li class="cat-item">
                <a href="#">Romance</a>
              </li>
              <li class="cat-item">
                <a href="#">Recipie</a>
              </li>
              <li class="cat-item">
                <a href="#">Sci-Fi</a>
              </li>
              <li class="cat-item">
                <a href="#">Lifestyle</a>
              </li>
            </ul>
          </div>
          <div class="widget-product-tags pt-5">
            <div class="section-title overflow-hidden mb-2">
              <h3 class="d-flex flex-column mb-0">Tags</h3>
            </div>
            <ul class="product-tags mb-0 sidebar-list list-unstyled">
              <li class="tags-item">
                <a href="#">Sci-Fi</a>
              </li>
              <li class="tags-item">
                <a href="#">Revenge</a>
              </li>
              <li class="tags-item">
                <a href="#">Zombie</a>
              </li>
              <li class="tags-item">
                <a href="#">Vampire</a>
              </li>
            </ul>
          </div>
          <div class="widget-product-authur pt-5">
            <div class="section-title overflow-hidden mb-2">
              <h3 class="d-flex flex-column mb-0">authur</h3>
            </div>
            <ul class="product-tags mb-0 sidebar-list list-unstyled">
              <li class="tags-item">
                <a href="#">Hanna Clark</a>
              </li>
              <li class="tags-item">
                <a href="#">Albert E. Beth</a>
              </li>
              <li class="tags-item">
                <a href="#">D.K John</a>
              </li>
            </ul>
          </div>
          <div class="widget-price-filter pt-5">
            <div class="section-title overflow-hidden mb-2">
              <h3 class="d-flex flex-column mb-0">Filter by price</h3>
            </div>
            <ul class="product-tags mb-0 sidebar-list list-unstyled">
              <li class="tags-item">
                <a href="#">Less than $10</a>
              </li>
              <li class="tags-item">
                <a href="#">$10- $20</a>
              </li>
              <li class="tags-item">
                <a href="#">$20- $30</a>
              </li>
              <li class="tags-item">
                <a href="#">$30- $40</a>
              </li>
              <li class="tags-item">
                <a href="#">$40- $50</a>
              </li>
            </ul>
          </div>
        </div>
      </aside>

    </div>
  </div>
</div>
