<app-billboard-single-post></app-billboard-single-post>

<div class="post-wrap padding-large overflow-hidden">
  <div class="container">
    <div class="row">
      <main class="post-grid">
        <div class="row">
          <app-article-post></app-article-post>

          <section id="post-comment" class="padding-medium pb-0">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <app-article-comments></app-article-comments>

                  <app-form-comments></app-form-comments>>
                </div>
              </div>
            </div>
          </section>
        </div>
      </main>
    </div>
  </div>
</div>
