<div id="footer-bottom" class="mb-2">
  <div class="container">
    <div class="d-flex flex-wrap justify-content-between">
      <div class="ship-and-payment d-flex gap-md-5 flex-wrap">
        <div class="shipping d-flex">
          <p>We ship with:</p>
          <div class="card-wrap ps-2">
            <img src="assets/images/dhl.png" alt="visa">
            <img src="assets/images/shippingcard.png" alt="mastercard">
          </div>
        </div>
        <div class="payment-method d-flex">
          <p>Payment options:</p>
          <div class="card-wrap ps-2">
            <img src="assets/images/visa.jpg" alt="visa">
            <img src="assets/images/mastercard.jpg" alt="mastercard">
            <img src="assets/images/paypal.jpg" alt="paypal">
          </div>
        </div>
      </div>
      <div class="copyright">
        <p>© Copyright 2024 Bookly. HTML Template by <a href="https://templatesjungle.com/"
            target="_blank">TemplatesJungle</a>
        </p>
      </div>
    </div>
  </div>
</div>
