

    
    <form id="form" class="d-flex gap-3 flex-wrap">
      <div class="w-100 d-flex gap-3">
        <div class="w-50">
          <input type="text" name="name" placeholder="Write your name here *" class="form-control w-100">
        </div>
        <div class="w-50">
          <input type="text" name="email" placeholder="Write your email here *" class="form-control w-100">
        </div>
      </div>
      <div class="w-100">
        <input type="text" name="phone" placeholder="Phone number" class="form-control w-100">
      </div>
      <div class="w-100">
        <input type="text" name="subject" placeholder="Write your subject here" class="form-control w-100">
      </div>
      <div class="w-100">
        <textarea placeholder="Write your message here *" class="form-control w-100"></textarea>
      </div>
      <button type="submit" name="submit" class="btn my-3">Submit</button>
    </form>
  
