<section id="items-listing" class="padding-large">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
        <app-featured></app-featured>
      </div>
      <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
        <app-best-reviewed></app-best-reviewed>
      </div>
      <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
        <app-latest-item></app-latest-item>
      </div>
      <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
        <app-on-sale></app-on-sale>
      </div>
    </div>
  </div>
</section>