<div class="sidebar ps-lg-5">
  <div class="widget-menu">
    <div class="widget-search-bar">
      <form class="d-flex border rounded-3 p-2" role="search">
        <input
          class="form-control border-0 me-2 py-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          class="btn rounded-3 p-3 d-flex align-items-center"
          type="submit"
        >
          <svg class="search text-light" width="18" height="18">
            <use xlink:href="#search"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
  <div class="widget-product-categories pt-5">
    <div class="section-title overflow-hidden mb-2">
      <h3 class="d-flex flex-column mb-0">Categories</h3>
    </div>
    <ul class="product-categories mb-0 sidebar-list list-unstyled">
      <li class="cat-item">
        <a href="/collections/categories">All</a>
      </li>
      <li class="cat-item">
        <a href="#">Romance</a>
      </li>
      <li class="cat-item">
        <a href="#">Recipie</a>
      </li>
      <li class="cat-item">
        <a href="#">Sci-Fi</a>
      </li>
      <li class="cat-item">
        <a href="#">Lifestyle</a>
      </li>
    </ul>
  </div>
  <div class="widget-product-tags pt-5">
    <div class="section-title overflow-hidden mb-2">
      <h3 class="d-flex flex-column mb-0">Tags</h3>
    </div>
    <ul class="product-tags mb-0 sidebar-list list-unstyled">
      <li class="tags-item">
        <a href="#">Sci-Fi</a>
      </li>
      <li class="tags-item">
        <a href="#">Revenge</a>
      </li>
      <li class="tags-item">
        <a href="#">Zombie</a>
      </li>
      <li class="tags-item">
        <a href="#">Vampire</a>
      </li>
    </ul>
  </div>
  <div class="widget-product-authur pt-5">
    <div class="section-title overflow-hidden mb-2">
      <h3 class="d-flex flex-column mb-0">authur</h3>
    </div>
    <ul class="product-tags mb-0 sidebar-list list-unstyled">
      <li class="tags-item">
        <a href="#">Hanna Clark</a>
      </li>
      <li class="tags-item">
        <a href="#">Albert E. Beth</a>
      </li>
      <li class="tags-item">
        <a href="#">D.K John</a>
      </li>
    </ul>
  </div>
  <div class="widget-price-filter pt-5">
    <div class="section-title overflow-hidden mb-2">
      <h3 class="d-flex flex-column mb-0">Filter by price</h3>
    </div>
    <ul class="product-tags mb-0 sidebar-list list-unstyled">
      <li class="tags-item">
        <a href="#">Less than $10</a>
      </li>
      <li class="tags-item">
        <a href="#">$10- $20</a>
      </li>
      <li class="tags-item">
        <a href="#">$20- $30</a>
      </li>
      <li class="tags-item">
        <a href="#">$30- $40</a>
      </li>
      <li class="tags-item">
        <a href="#">$40- $50</a>
      </li>
    </ul>
  </div>
</div>
