<div class="location-content d-flex flex-wrap">
  <div class="col-lg-6 col-sm-12">
    <div class="content-box text-dark pe-4 mb-5">
      <h5 class="fw-bold">USA</h5>
      <div class="contact-address pt-3">
        <p>730 Glenstone Ave 65802, US</p>
      </div>
      <div class="contact-number">
        <p>
          <a href="#">+123 666 777 88</a>
        </p>
      </div>
      <div class="email-address">
        <p>
          <a href="#">infoyourinfo.com</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="content-box">
      <h5 class="fw-bold">France</h5>
      <div class="contact-address pt-3">
        <p>13 Rue Montmartre 75001, Paris, France</p>
      </div>
      <div class="contact-number">
        <p>
          <a href="#">+123 222 333 44</a>
        </p>
      </div>
      <div class="email-address">
        <p>
          <a href="#">infoyourinfo.com</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="content-box text-dark pe-4 mb-5">
      <h5 class="fw-bold">Canada</h5>
      <div class="contact-address pt-3">
        <p>730 Glenstone Ave 65802, US</p>
      </div>
      <div class="contact-number">
        <p>
          <a href="#">+123 666 777 88</a>
        </p>
      </div>
      <div class="email-address">
        <p>
          <a href="#">infoyourinfo.com</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="content-box">
      <h5 class="fw-bold">China</h5>
      <div class="contact-address pt-3">
        <p>13 Rue Montmartre 75001, Paris, France</p>
      </div>
      <div class="contact-number">
        <p>
          <a href="#">+123 222 333 44</a>
        </p>
      </div>
      <div class="email-address">
        <p>
          <a href="#">infoyourinfo.com</a>
        </p>
      </div>
    </div>
  </div>
</div>