<div class="search-popup">
  <div class="search-popup-container">

    <form role="search" method="get" class="search-form" action="">
      <input type="search" id="search-form" class="search-field" placeholder="Type and press enter" value=""
        name="s" />
      <button type="submit" class="search-submit"><svg class="search">
          <use xlink:href="#search"></use>
        </svg></button>
    </form>

    <h5 class="cat-list-title">Browse Categories</h5>

    <ul class="cat-list">
      <li class="cat-list-item">
        <a href="#" title="Romance">Romance</a>
      </li>
      <li class="cat-list-item">
        <a href="#" title="Thriller">Thriller</a>
      </li>
      <li class="cat-list-item">
        <a href="#" title="Sci-fi">Sci-fi</a>
      </li>
      <li class="cat-list-item">
        <a href="#" title="Cooking">Cooking</a>
      </li>
      <li class="cat-list-item">
        <a href="#" title="Health">Health</a>
      </li>
      <li class="cat-list-item">
        <a href="#" title="Lifestyle">Lifestyle</a>
      </li>
      <li class="cat-list-item">
        <a href="#" title="Fiction">Fiction</a>
      </li>
    </ul>

  </div>
</div>


