<div class="cart-table">
  <div class="cart-header border-bottom border-top">
    <div class="row d-flex text-capitalize">
      <h4 class="col-lg-4 py-3 m-0">Product</h4>
      <h4 class="col-lg-3 py-3 m-0">Quantity</h4>
      <h4 class="col-lg-4 py-3 m-0">Subtotal</h4>
    </div>
  </div>

  @for (item of cartDataObj; track $index) {

  <div class="cart-item border-bottom padding-small">
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-3">
        <div class="cart-info d-flex gap-2 flex-wrap align-items-center">
          <div class="col-lg-5">
            <div class="card-image">
              <img src="{{item.Image}}" alt="cart-img" class="img-fluid border rounded-3" />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card-detail">
              <h5 class="mt-2">
                <a href="single-product.html">{{item.Head}}</a>
              </h5>
              <div class="card-price">
                <span class="price text-primary fw-light" data-currency-usd="$2000.00">${{item.Price}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-7">
        <div class="row d-flex">
          <div class="col-md-6">
            <div class="product-quantity my-2 my-2">
              <div class="input-group product-qty align-items-center" style="max-width: 150px">
                <span class="input-group-btn">
                  <button type="button" (click)="decreaseQuantity($index)"
                    class="bg-white shadow border rounded-3 fw-light quantity-left-minus" data-type="minus"
                    data-field="">
                    <svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                      <g id="SVGRepo_iconCarrier">
                        <rect width="24" height="24" fill="white"></rect>
                        <path d="M6 12H18" stroke-width="2" stroke="#000000" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </g>
                    </svg>
                  </button>
                </span>
                <input type="text" [value]="item.quantity || 1" (input)="updateQuantity($index, $event)" id="quantity"
                  name="quantity"
                  class="form-control bg-white shadow border rounded-3 py-2 mx-2 input-number text-center" value="1"
                  min="1" max="100" required="" />
                <span class="input-group-btn">
                  <button type="button" (click)="increaseQuantity($index)"
                    class="bg-white shadow border rounded-3 fw-light quantity-right-plus" data-type="plus"
                    data-field="">
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                      <g id="SVGRepo_iconCarrier">
                        <path d="M6 12H18M12 6V18" stroke="#000000" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </g>
                    </svg>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="total-price">
              <span class="money fs-2 fw-light text-primary">${{ getTotalPrice($index) }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-1 col-md-2">
        <div class="cart-cross-outline">
          <a (click)="removeFromCart($index)" style="cursor: pointer;">
            <svg class="cart-cross-outline" width="38px" height="38px" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M7.5 18C8.32843 18 9 18.6716 9 19.5C9 20.3284 8.32843 21 7.5 21C6.67157 21 6 20.3284 6 19.5C6 18.6716 6.67157 18 7.5 18Z"
                  stroke="#000000" stroke-width="1.5"></path>
                <path
                  d="M16.5 18.0001C17.3284 18.0001 18 18.6716 18 19.5001C18 20.3285 17.3284 21.0001 16.5 21.0001C15.6716 21.0001 15 20.3285 15 19.5001C15 18.6716 15.6716 18.0001 16.5 18.0001Z"
                  stroke="#000000" stroke-width="1.5"></path>
                <path d="M11.5 12.5L14.5 9.5M14.5 12.5L11.5 9.5" stroke="#000000" stroke-width="1.5"
                  stroke-linecap="round"></path>
                <path
                  d="M2 3L2.26121 3.09184C3.5628 3.54945 4.2136 3.77826 4.58584 4.32298C4.95808 4.86771 4.95808 5.59126 4.95808 7.03836V9.76C4.95808 12.7016 5.02132 13.6723 5.88772 14.5862C6.75412 15.5 8.14857 15.5 10.9375 15.5H12M16.2404 15.5C17.8014 15.5 18.5819 15.5 19.1336 15.0504C19.6853 14.6008 19.8429 13.8364 20.158 12.3075L20.6578 9.88275C21.0049 8.14369 21.1784 7.27417 20.7345 6.69708C20.2906 6.12 18.7738 6.12 17.0888 6.12H11.0235M4.95808 6.12H7"
                  stroke="#000000" stroke-width="1.5" stroke-linecap="round"></path>
              </g>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  }

  <div class="cart-totals padding-medium pb-0">
    <h3 class="mb-3">Cart Totals</h3>
    <div class="total-price pb-3">
      <table cellspacing="0" class="table text-capitalize">
        <tbody>
          <tr class="subtotal pt-2 pb-2 border-top border-bottom">
            <th>Subtotal</th>
            <td data-title="Subtotal">
              <span class="price-amount amount text-primary ps-5 fw-light">
                <bdi> <span class="price-currency-symbol">$</span>{{ getSubtotal() | number: '1.2-2' }} </bdi>
              </span>
            </td>
          </tr>
          <tr class="order-total pt-2 pb-2 border-bottom">
            <th>Total</th>
            <td data-title="Total">
              <span class="price-amount amount text-primary ps-5 fw-light">
                <bdi> <span class="price-currency-symbol">$</span>{{ getSubtotal() | number: '1.2-2' }}</bdi>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="button-wrap d-flex flex-wrap gap-3">
      <button class="btn">Update Cart</button>
      <button class="btn" [routerLink]="['/shop']">Continue Shopping</button>
      <button class="btn" [routerLink]="['/checkout']">Proceed to checkout</button>
    </div>
  </div>





</div>